*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

:root {
  --border-grey: #eaeaea;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;

  color: #757575;
}

.App-inner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--main-white);
  width: 100%;
  max-width: 80rem;
}
